<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocAppoint"
        tools:targetApi="31">
        <activity
            android:name=".StatusPending"
            android:exported="false" />
        <activity
            android:name=".StatusRejected"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorApproval"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientApproval"
            android:exported="false" />
        <activity
            android:name=".Administrator.AdminHistory"
            android:exported="false" />
        <activity
            android:name=".Doctor.Specialties"
            android:exported="false" />
        <activity
            android:name=".Administrator.AdminNavigation"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientNavigation"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorNavigation"
            android:exported="false" />
        <activity
            android:name=".Administrator.AdminHomepage"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientHomepage"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorHomepage"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientRegister"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorRegister"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorRejectApproval"
            android:exported="false" />
        <activity
            android:name=".Patient.PatientRejectApproval"
            android:exported="false" />
        <activity
            android:name=".SelectAccount"
            android:exported="false" />
        <activity
            android:name=".Doctor.DoctorApptHistory"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>